@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto w-full max-w-[1440px];
}

body {
  @apply bg-neutral-200;
  min-height: 100vh;
  overflow-x: hidden;
}

.wallet {
  &__bg-balance {
    @apply from-zinc-300 via-zinc-200 to-zinc-100;
  }
  &__bg-expense {
    @apply from-rose-300 via-rose-200 to-rose-100;
  }
  &__bg-income {
    @apply from-sky-300 via-sky-200 to-sky-100;
  }

  &__text-balance {
    @apply text-zinc-600;
  }
  &__text-expense {
    @apply text-rose-600;
  }
  &__text-income {
    @apply text-sky-600;
  }

  &__bg-detail-balance {
    @apply bg-zinc-400 bg-opacity-75;
  }
  &__bg-detail-expense {
    @apply bg-rose-400 bg-opacity-75;
  }
  &__bg-detail-income {
    @apply bg-sky-400 bg-opacity-75;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.css-19qhd5-ValueContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.css-19qhd5-ValueContainer {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}

.paginationButton {
  list-style: none;
  @apply flex justify-center;
  a.previousButton,
  a.nextButton {
    @apply border-transparent text-xl;
  }
}

.paginationButton a {
  @apply flex h-9 w-9 items-center justify-center border border-gray-dark border-opacity-75 text-blue-dark;
  margin: 0 0.25rem;
  border-radius: 50%;
}

.paginationButton a:hover {
  color: white;
  @apply bg-blue-dark bg-opacity-75;
}

.paginationDisabled a:hover {
  @apply border-transparent bg-blue-dark bg-opacity-25 text-black;
}

.paginationActive a {
  @apply bg-blue-dark bg-opacity-70 text-white;
}

.paginationDisabled a {
  @apply border-transparent text-gray-400;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue-dark bg-opacity-70;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-100;
  border-radius: 10px;
}
