* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif, serif;
}

.main_container {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  height: 100vh;

  .main_section {
    grid-column: 2 / -1;
  }
}
